[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
skeleton-says = {editable = true, path = "."}

[dev-packages]
skeleton-says = {editable = true, extras = ["dev"], path = "."}

[scripts]
lint = "pre-commit run --all-files --show-diff-on-failure --color=always -v"
tests = "pytest"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
