[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"

[dev-packages]
pytest = "*"

[scripts]
tests = "pytest"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
