name: Code CI

on:
  push:
    branches:
      # Restricting to these branches and tags stops duplicate jobs on internal
      # PRs but stops CI running on internal branches without a PR. Delete the
      # next 5 lines to restore the original behaviour
      - master
      - main
    tags:
      - "*"
  pull_request:
  schedule:
    # Run every Monday at 8am to check latest versions of dependencies
    - cron: "0 8 * * MON"

jobs:
  wheel:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create Sdist and Wheel
        # Set SOURCE_DATE_EPOCH from git commit for reproducible build
        # https://reproducible-builds.org/
        # Set group writable and umask to do the same to match inside DLS
        run: |
          chmod -R g+w .
          umask 0002
          SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) pipx run build --sdist --wheel

      - name: Upload Wheel and Sdist as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/*

      - name: Test cli works from the installed wheel
        run: pipx run --spec dist/*.whl skeleton-says Hello

  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] # can add windows-latest, macos-latest
        python: ["3.7", "3.8", "3.9"]
        pipenv: ["skip-lock"]

        include:
          # Add an extra Python3.7 runner to use the lockfile
          - os: "ubuntu-latest"
            python: "3.7"
            pipenv: "deploy"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup repo and test
        uses: dls-controls/pipenv-run-action@v1
        with:
          python-version: ${{ matrix.python }}
          pipenv-install: --dev --${{ matrix.pipenv }}
          allow-editable-installs: ${{ matrix.pipenv == 'deploy' }}
          pipenv-run: tests
